*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    font-size: 12px;
    background-color: lightgray;
}
body, html{
    width: 100%;
    height: 100%;
    position: relative;
}

.submitFormInput{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.textFormInput{
    width: 100%;
    padding-left: 3px;
    font-size: 1.2rem;
    margin-bottom: 6px;
    border-radius: 2px;
    border: none;    
}

.selectFormInput{
    height: 60px;
    width: 100%;
    border: none;
    border-bottom: thin solid rgba(0,0,0,.3);
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.fstart{
    justify-content: flex-start;
}
.itemcenter{
    align-items: center;
}

.flex1{
    flex: 1;
}

.mainContainer{
    padding: 40px;
}

.border03{
    border: thin solid rgba(0,0,0,.2);
}

.ml20{
    margin-left: 20px;
}